<h1>{{id?"Edit Car Form":"Create Car Form"}}</h1>

<form [formGroup]="carForm">
    <label for="">Vehicle:</label>
    <input type="text" formControlName="Vehicle" appCapital>
    <br>
    <label for="">Manufacturer:</label>
    <input type="text" formControlName="manufacturer">
    <br>
    <label for="">Model:</label>
    <input type="text" formControlName="model">
    <br>
    <label for="">Color:</label>
    <input type="text" formControlName="color">
    <br>
    <label for="">type:</label>
    <input type="text" formControlName="type">
    <br>
    <label for="">Fuel:</label>
    <input type="text" formControlName="fuel">
    <br>
    <label for="">Image:</label>
    <input type="text" formControlName="image">
    <br>
    <button class="btn btn-warning" (click)="submit()">{{id?"Update":"Submit"}}</button>
</form>