h1{
    margin-left: 30px;
}
label{
    width:100px;
    
}
button{
    margin-left: 30px;
    margin-top: 20px;
}

.error{
    color: red;
}
.icon{
    color: red;
    font-size: 25px;
    margin-left: 102px;
    margin-top: 20px;
}