<div class="data">
    <!-- <p>Data-Bindging works!</p>
    <h1>My age is {{age}}</h1>
    <h1>My name is {{name}}</h1>
    <h1>is Indian {{isIndian}}</h1>
    <h1 *ngFor ='let age of ages'>My age is: {{age}}</h1>
<ol type="1">
    <li *ngFor="let state of states">State: {{state}}</li>
</ol>

<select name="" id="">
    <option value="" *ngFor="let city of cites"> {{city}}</option>
</select>

<h1 *ngFor="let product of products">{{product.name}} {{product.price}}</h1> -->

<!-- <table>
    <thead>
        <tr>
            <th>
            names
            </th>
            <th>
            price
                            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        </tr>
    </tbody>
</table> -->

<!-- <table>
    <thead>
        <tr>
            <th>Names</th>
            <th>Exp.</th>
            <th>Package</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
        <td>{{employee.name}}</td>
        <td>{{employee.exp}}</td>
        <td>{{employee.package}}</td>
        </tr>
    </tbody>
</table>
<button (click)="submit()">submit</button>

<input (keypress)="store()" type="text">

<input type="text" [(ngModel)]="phone">
<h1>{{phone}}</h1> -->
</div>

