<div class="parent">
    <div class="black-shade">
        <h1>SLIDE LOGIN FORM</h1>
    <div class="child">
        <form action="" [formGroup]="loginForm">
            <label for="email">Email:</label>
            <input id="email" type="text" placeholder="Email" formControlName="email"> <br>
            <br>
            <label for="password">Password:</label>
            <input id="password" type="number" placeholder="Password" formControlName="password"> <br>
            <button (click)="login()">Login</button>
        </form>
        
</div>
</div>
</div>
