<div class="myntra-app">
    <div class="left-content">
        <h1>Filters</h1>
        <div>
            <h2>Category</h2>
            <ul>
                
                <!-- <li> <input type="checkbox" (click)="mens()"> men's clothing</li>
                <li> <input type="checkbox" (click)="jewelery()"> jewellery</li>
                <li> <input type="checkbox" (click)="electronics()"> electronics</li>
                <li> <input type="checkbox" (click)="women()"> women's clothing</li> -->
                <li *ngFor="let category of categories">
                    <input (change)="categoryChanged()" type="checkbox" [(ngModel)]="category.checked">
                    {{category.category}}
                </li> 

                <!-- <li *ngFor="let category of categoryList">
                    <input type="checkbox" (click)="changeCategory()" [(ngModel)]="category.checked">{{category.category}}
                </li> -->

            </ul>
            
        </div>
        <div>
            <h2 class="price-title">Price</h2>
            <ul>
                
                <li> <input type="checkbox" (click)="upto50()"> Rs.7 to Rs.50</li>
                <li> <input type="checkbox" (click)="upto300()"> Rs.50 to Rs.300</li>
                <li> <input type="checkbox" (click)="upto600()"> Rs.300 to Rs.600</li>
                <li> <input type="checkbox" (click)="upto1000()"> Rs.600 to Rs.1000</li>
                <!-- <li *ngFor="let product of products">
                    <input type="checkbox" [(ngModel)]="product.checked">
                    {{product.price}}
                </li>  -->
            </ul>
            
        </div>

    </div>
    <div class="right-content">
        <div class="top-list">
            <label for="">Price range:</label>
            <select name="" id="" (change)="priceRange()" [(ngModel)]=price>     
            <option value="">All</option>
            <option value="true">high to low</option>
            <option value="false">low to high</option>
            </select>
        </div>
        
        <div class="card-container">
        <div *ngFor="let product of products" class="card">
            
            <img class="card-img" src={{product.image}} alt="">
            <p class="rating-tag">{{product.rating.rate}} <span><i class="fa-solid fa-star" style="color:green;"></i> | {{product.price}}k</span></p>
            <div class="text-content">
            <p class="title">{{product.category}}</p>
            <p class="description">{{product.title}}</p>
            <p class="price-tag">Rs.{{product.price}} <del style="color: gray;">Rs.2999</del> <span style="color: red;">(81% OFF)</span> </p>
        </div>
    </div>
    </div>
    </div>

</div>