.parent{
    text-align: center;
    margin-top: 35px;
    color: white;
    font-size: 18px;
}
button{
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    border:none;
    background-color:darkolivegreen;
    color: white;
}
.title{
    font-size: 25px;
    font-weight: 700;
}