<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <br>
        <h1 routerLink="home">Home</h1>
        <br>
        <h1 routerLink="about">About</h1>
        <br>
        <h1 routerLink="data-binding">Data-Binding</h1>
        <br>
        <h1 routerLink="calculator">Calculator</h1>
        <br>
        
        <h1 routerLink="rectangle">Rectangle</h1>
        <br>
        <h1 routerLink="circle">Circle</h1>
        <br>
        <h1 routerLink="bmicalculator">BMI Calculator</h1>
        <br>
        <h1 routerLink="products">Products</h1>
        <br>
        <h1 routerLink="vehicles">vehicles</h1>
        <br>
        <h1 routerLink="car">car</h1>
        <br>
        <h1 routerLink="myntra">Myntra</h1>
        <br>
        <h1 routerLink="allvehicles">All Vehicles</h1>
        <br>
        <h1 routerLink="accounts">Accounts</h1>
        <br>
        <h1 routerLink="photos">photos</h1>
        <br>
        <h1 routerLink="flipkart">Flipkart</h1>
        <br>
        <h1 routerLink="mail">mail</h1>
        <br>
        <h1 routerLink="apicall">ApiRecall</h1>
        <br>
        <h1 routerLink="materialui">Angular Material</h1>
        <br>
        <h1 routerLink="createallvehicles">Create allVehicles</h1>
        <br>

        <h1 routerLink="creataccountform">CreateAccountForm</h1>
        <br>
        <h1 routerLink="createuserform">Create_User_Form</h1>
        <br>
        <h1 routerLink="parent">Parent</h1>
        <br>
        <h1 routerLink="rating">Rating</h1>
        <br>
        <h1 routerLink="backgroundcolorchange">Background-color-change</h1>
        <br>
        <h1 routerLink="communicationproducts">Communication-Products</h1>
        <br>
        <h1 routerLink="navbar">NavBar</h1>
        <br>
        <h1 routerLink="cart">Cart</h1>
        <br>
        <h1 routerLink="siblingtodo">Sibling-Todo-App</h1>
        <br>
        <h1 routerLink="aboutcompany">About-Company</h1>
        <br>
        <h1 routerLink="contactus/contact-company">Contact-Company</h1>
        <br>
        <h1 routerLink="contactus/contact-hr">Contact-Hr</h1>
        <br>
        <h1 routerLink="pipes">Pipes</h1>
        <br>
        
        
       
       
       
       
        <button (click)="logout()">Logout</button>
    </div>
    <div class="right">
        <router-outlet>
            </router-outlet>
    </div>
</div>
